<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Test TomTom</title>
</head>
<body>
<center>
<% if @error %>
<%= @error %>
<% elsif @fname %>
<a href='http://addto.tomtom.com/api/home/v2/content?action=install&apikey=4db7cb3c-146e-4cd5-ae48-8998a464a4d9&uri=http://www.gebweb.net/optimap/<%= @sub_dir %>tomtom/<%= @date_token %><%= @rnd_token %>.itn.xml'>
<img src='http://addto.tomtom.com/api/images/addtotomtom-button.gif' alt='Add-To-TomTom' border='0'/></a>
<a href='http://www.gebweb.net/optimap/<%= @sub_dir %>tomtom/<%= @date_token %><%= @rnd_token %>.itn'>Download itinerary file</a>
<% end %>
</center>
</body>
</html>
